<html>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>About page </h1>
<p><img src="{% static 'images/ME.jpg' %}" alt="About me" class="img-fluid" width="200" height="200">
    ooh yeah thats me. My name is Luqman Tuke, Founder and CEO of SMARTTRAVELTZ and MD of TUKSIM AND COMPANY
    im also an expert of Cyber Security and also planning to start a company known as TUKE CYBERSECURITY COMPANY, i know you cant wait for it so tell me your views in the links provied down there on the homepage
</p>
{% endblock content %}



ooh yeah thats me. My name is Luqman Tuke, Founder and CEO of SMARTTRAVELTZ and MD of TUKSIM AND COMPANY
    im also an expert of Cyber Security and also planning to start a company known as TUKE CYBERSECURITY COMPANY, i know you cant wait for it so tell me your views in the links provied down there on the homepage
</p>
</html>>